@use "global" as *;

.page-top{
    position: fixed;
    right: rem(32);
    bottom: rem(32);
    width: rem(45);
    height: rem(45);
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    vertical-align: middle;
    z-index: 1000;

}

.page-top span{
    display: inline-block;
    border-top: rem(4) solid #000;
    border-right: rem(4) solid  #000;
    width: rem(20);
    height: rem(20);
    transform: rotate(-45deg);
    margin-top: rem(16);
}

.page-top:hover{
    background-color: #333333;
    transition: all .3s;
}

.page-top:hover span{
    border-color:#FFFFFF ;
    transition: all .3s;
}