@use "global" as *;

.btn{
    display: inline-block;
    width: rem(360);
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15em;
    background-color: rgba(51, 51, 51, 1);
    padding-top: rem(15);
    padding-bottom: rem(16);
    text-align: center;
    border: rem(1) solid #FFF;
    position: relative;
    z-index: 1;
}

.btn:hover{
    color: rgba(51, 51, 51, 1);
    transition: all .3s;
}

.btn::before{
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: #FFFFFF;
    transition: 0.3s;
}

.btn:hover::before {
    width: 100%;
  }
