@use "global" as *;

.header{
    height: rem(50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9000;
    background-image: url(../images/common/mv.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__inner{
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    padding-left: rem(32);
}

.header__logo{

}


.header__logo img{
    width: rem(94);
    height: rem(35);
}

.header__nav{

}