@use "global" as *;

.overview{
    position: relative;
}

.overview__line{
    position: absolute;
    width: 150%;
    height: rem(1);
    background: #F9F871;
    transform: rotate(-45deg);
    right: 0;
    top: -45%;
    z-index: -2;
    transform-origin: top right;
}


.overview__section-header{
    // position: absolute;
    // top: -10%;
}

.overview__tittle1{
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: rem(30);
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.1em;
    text-align: center;
}

.overview__inner{
    display: flex;
    justify-content: space-between;
    gap: rem(33);
    position: relative;
    z-index: 2;
}

.overview__wrap{
    padding-top: rem(28);
    
}

.overview__tittle2{
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: rem(25);
    font-style: normal;
    font-weight: 400;
    line-height: 1; 
    letter-spacing: 0.5px;
}

.overview__text{
    color: #FFF;
    font-family: "Noto Sans JP";
    font-size: rem(16);
    font-style: normal;
    font-weight: 400;
    line-height: 2.1875; 
    letter-spacing: 0.5px;
    max-width: rem(510);
    margin-top: rem(48);
}

.overview__btn{
    margin-top: rem(44); 
}

.overview__img{
    width: 50%;
    aspect-ratio:557/389 ;
}

.overview__img img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}


.overview__bg{
    margin-top: rem(48);
    padding: rem(80) 0;
    background: linear-gradient(-90deg, transparent 0 calc(50% - 17rem),#333 calc(50% - 17rem)100%);
}

.overview__section-header .section-header__engtittle{
    left: 7%;
    top: -200%;
}