@use "global" as *;

.section-header{
    color: #F9F871;
font-family: "Noto Serif JP";
font-size: rem(110);
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2px;
// text-transform: uppercase;
opacity: 0.27;

}